.messages__item {
    display: flex;
    border: 1px dotted @lightGreyColor;
    border-radius: 3px;
    padding: 10px 15px;
    margin-top: 25px;//TODO: No margin here
}
.messages {
    font-family: @mainFont;
    font-size: 14px;
}


.messages__text {
    color: @darkGreyColor;
}

.messages__closeBtn i {
    color: @greyColor;
}

.messages__closeBtn{
    margin-left: auto; 
}
