{% macro feed(image, name, url, date, text) %}
<div class="feedItem">
    <div class="feedItem__header">
        
           <img class="feedItem__image" src="images/avatars/{{image}}" alt="{{name}}">
        
        <div class="feedItem__info">
            <div class="feedItem__username">
                <a href="{{url}}">{{name}}</a>
            </div>
            <div class="feedItem__date">
                {{date}}
            </div>
        </div>

    </div>
    <div class="feedItem__text">
        {{text}}
    </div>
</div>
{% endmacro %}