{% macro graph(data, width=635, height=220) %}

{% set graphHeight = (height-120) %}
{% set graphWidth = (width-25) %}

    <svg height="{{height}}" width="{{width}}">

        {% set oneYPoint = (data.Max - data.Min) / graphHeight %}

        {% for point in data.Points %}

        {% set y1 = graphHeight + 60 - ((point.Value - data.Min) * (1 / oneYPoint)) %}
        {% set y2 = graphHeight + 60 - ((data.Points[loop.index0 + 1].Value - data.Min) * (1 / oneYPoint)) %}
        {% set x1 = graphWidth / (loop.length - 1) * loop.index0 %}
        {% set x2 = x1 + graphWidth / (loop.length-1) %}



        <polygon points="{{x1}} {{height}}, {{x2}} {{height}}, {{x2}} {{y2}}, {{x1}} {{y1}}" class="linear__background" />

        {%if loop.last%}
        {%else%}
        <line x1="{{x1}}" y1="{{y1}}" x2="{{x2}}" y2="{{y2}}" class="linear__line" />
        {%endif%}

        <circle cx="{{x1}}" cy="{{y1}}" r="10" class="linear__dot" />

        <text x="{{x1}}" y="{{height-10}}" class="linear__xDay">{{point.Day}}</text>
        <text x="{{x1}}" y="{{height}}" class="linear__xMonth">{{point.Month}}</text>

        {% endfor %}

    </svg>
    {% endmacro %}
