.header {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1165px;
    margin-left: auto;
    margin-right: auto;
    font-family: @mainFont;
    color: @greyColor;
}

.header__logoLink {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: @greyColor;
}

.header__logoButton {
    background-color: @primaryBgColor;
    color: @whiteColor;
    font-size: 20px;
    margin-right: 15px;
    width: 27px;
    height: 22px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 5px;
}

.header__logoSplit {
    color: @primaryBorderColor;
}

.header .header__profileLink {
    color: @primaryBorderColor;
}

.header a:link {
    text-decoration: none;
}

.header a:visited {
    text-decoration: none;
}