.mainMenu {
    background-color: @primaryBgColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

.mainMenu__menuItem {
    padding-top: 20px;
    height: 110px;
}

.mainMenu__menuItem:hover {
    background-color: @primaryActiveBgColor;
}

.mainMenu__menuIcon {
    fill: @whiteColor;
}

.mainMenu__menuItem:hover .mainMenu__menuIcon {
    fill: @primaryActiveFontColor;
}

.mainMenu__menuTitle {
    font-family: @mainFont;
    color: @whiteColor;
    opacity: 0;
    margin: 0;
    font-weight: 600;
    display: none;
    white-space: nowrap;
    overflow: hidden;
}

.mainMenu__menuItem:hover .mainMenu__menuTitle {
    color: @primaryActiveFontColor;

}

.mainMenu__menuItem a:link {
    text-decoration: none;
}

.mainMenu__menuItem a:visited {
    text-decoration: none;
}