@font-face {
    font-family: 'Mina';
    src: url('../webfonts/mina-normal.eot');
    src: local('?'), 
        url('../webfonts/mina-normal.eot') format('embedded-opentype'), 
        url('../webfonts/mina-normal.woff2') format('woff2'), 
        url('../webfonts/mina-normal.woff') format('woff'), 
        url('../webfonts/mina-normal.ttf') format('truetype'), 
        url('../webfonts/mina-normal.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd Light';
    src: url('../webfonts/AvenirLTStd-Light.eot');
    src: local('?'), 
        url('../webfonts/AvenirLTStd-Light.eot') format('embedded-opentype'),
        url('../webfonts/AvenirLTStd-Light.woff2') format('woff2'), 
        url('../webfonts/AvenirLTStd-Light.woff') format('woff'), 
        url('../webfonts/AvenirLTStd-Light.ttf') format('truetype'), 
        url('../webfonts/AvenirLTStd-Light.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@mainFont: 'Mina';
@secondaryFont: 'AvenirLTStd Light';

@primaryBgColor: #f5638c;
@primaryBorderColor: rgb(199,8,114, 0.25);
@secondaryBorderColor: rgb(222,89,127,0.25);

@whiteColor: #ffffff;
@blackColor: #000000;
@darkGreyColor: rgb(91,91,91);
@greyColor: #b9b8b8;
@lightGreyColor: #ebe9e8;

@primaryActiveBgColor: #ff7ca1;
@primaryActiveFontColor: #e41092;

@timeColor: #82adcf;
@warningColor: #fffefa;
@errorColor: #fff0f0;


@positiveFontColor: #00ce87;
@neutralFontColor: #ffca05;


@greenPositiveColor: #00ce87;
@redNegativeColor: rgb(255,166,166);


@tooltipZ: 900;
@dialogZ: 1500;
@overlayZ: 10000;

/*
grey(2598) - 7b7b7d


grey(updating) - b8b8b9*/
