
@font-face {
    font-family: 'Mina Regular';
    font-weight: normal;
    src: url("/webfonts/Mina-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'AvenirLTStd Light';
    font-weight: lighter;
    src: url("/webfonts/AvenirLTStd Light.otf") format('opentype');
}

@mainFont: 'Mina Regular';
@secondaryFont: 'AvenirLTStd Light';

@primaryBgColor: #f5638c;
@primaryBorderColor: rgb(199,8,114, 0.25);
@secondaryBorderColor: rgb(222,89,127,0.25);

@whiteColor: #ffffff;
@blackColor: #000000;
@darkGreyColor: rgb(91,91,91);
@greyColor: #b9b8b8;
@lightGreyColor: #ebe9e8;

@primaryActiveBgColor: #ff7ca1;
@primaryActiveFontColor: #e41092;

@timeColor: #82adcf;
@warningColor: #fffefa;
@errorColor: #fff0f0;


@positiveFontColor: #6dedb8;
@neutralFontColor: #ffca05;


@greenPositiveColor: rgb(102,249,199);
@redNegativeColor: rgb(255,166,166);


@tooltipZ: 900;
@dialogZ: 1500;
@overlayZ: 10000;

/*
grey(2598) - 7b7b7d


grey(updating) - b8b8b9*/
@import "node_modules/@fortawesome/fontawesome-free/less/fontawesome.less";
@import "node_modules/@fortawesome/fontawesome-free/less/regular.less";
@import "node_modules/@fortawesome/fontawesome-free/less/solid.less";
@import "node_modules/@fortawesome/fontawesome-free/less/brands.less";
@import "node_modules/@fortawesome/fontawesome-free/less/v4-shims.less";
