<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>BitcoinBabe</title>
</head>
<body class="layout">
    <div class="layout__mainMenu">
        {%include "templates/mainMenu.html"%}
    </div>
    <div class="layout__content">

        {%include "templates/header.html"%}

        <div class="body">
            {% block topArea %}
            {% endblock %}

            {% block messageArea %}
            {% endblock %}

            {% block contentArea %}
            {% endblock %}
        </div>

        {%include "templates/footer.html"%}
    </div>
    <link rel="stylesheet" href="css/style.css" />
    <script src="./js/main.js"></script>
</body>
</html>