{% extends "./_layout.html"  %}


{% import "partials/tabs.html" as tabs %}

{% block topArea %}
<!--no top area for this page-->
    {% endblock %}

    {% block messageArea %}
        {%include "templates/messages.html"%}
    {% endblock %}

{% block contentArea %}
<div class="buyBitcoinContentArea">
    <div class="buyBitcoinContentArea__tabs">

        {{ tabs.tabs(['Funding', 'Trade', 'Account Balance']) }}
        <section class="tabs__contentSection buyBitcoinContentArea__body">
            
            <!--INFO TAB-->
            <div class="tabs__tab tabs__tab0">
                {%include "templates/buyHelp.html"%}
            </div>
            <!--OTHER NEEDED TABS-->
            <div class="tabs__tab tabs__tab1">
                {%include "templates/bitcoinFunding.html"%}
            </div>
            <div class="tabs__tab tabs__tab2">
                {%include "templates/bitcoinTrade.html"%}
            </div>
            <div class="tabs__tab tabs__tab3">
                {%include "templates/balanceInfo.html"%}
            </div>
        </section>
    </div>
</div>
{% endblock %}
