{% extends "./_layout.html"  %}

{% block topArea %}
{%include "templates/wallets-list.html"%}
{% endblock %}

{% block messageArea %}
{%include "templates/messages.html"%}
{% endblock %}

{% block contentArea %}
    <section class="main-content-area">
        <div class="main-content-area__firstRow">
            <div class="main-content-area__account-balance main-content-area_border">
                {%include "templates/balance-info.html"%}
            </div>
            <div class="main-content-area__transaction-history main-content-area_border">
                {%include "templates/transaction-history.html"%}
            </div>
        </div>
        <div class="main-content-area__second-row">
            <div class="main-content-area__prices">
                <div class="main-content-area__bitcoin-buy-price main-content-area_border">
                    {%include "templates/bitcoin-price.html"%}
                </div>
                <div class="main-content-area__bitcoin-sell-price main-content-area_border">
                    {%include "templates/bitcoin-selling-price.html"%}
                </div>
            </div>
            <div class="main-content-area__feed main-content-area_border">
                {%include "templates/media-feed.html"%}
            </div>
        </div>
    </section>
{% endblock %}
