.mainContentArea {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: stretch;
    height: 1010px;
    justify-content: space-between;
}

.mainContentArea__firstRow {
    display: flex;
    justify-content: space-between;
    height: 325px;
}

.mainContentArea__accountBalance {
    flex-basis: 355px;
    flex-grow: 0;
}

.mainContentArea__transactionHistory {
    flex-basis: 790px;
    flex-grow: 0;
}

.mainContentArea__secondRow {
    display: flex;
    justify-content: space-between;
    height: 665px;
}

.mainContentArea__prices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 575px;
    flex-grow: 0;
}

.mainContentArea__bitcoinBuyPrice {
    flex-basis: 320px;
    flex-grow: 0;
}

.mainContentArea__bitcoinSellPrice {
    flex-basis: 320px;
    flex-grow: 0;
}

.mainContentArea__feed {
    flex-basis: 575px;
    flex-grow: 0;
}
