/* Component Needs */

.tabs {

    &__radiobtn {
        display: none;
    }

    &__contentSection > .tabs__tab {
        display: none;
    }

    &__navigation-tab {
        font-family: @mainFont;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        background-color: #f2f2f2;
        
        align-items: center;
        color: #9b9b9c;
        border-top: 1px solid #e2e2e2;
        border-left: 1px solid #e2e2e2;
        padding: 23px 0 23px 0;
    }


    &__navigation-tab_position_last {
        border-right: 1px solid #e2e2e2;
    }

    &__navigation {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 0;
        /*border-left: 1px solid #e2e2e2;*/
    }

    &__navigation .tab_0 {
        width: 105px;
        flex-grow: 0;
    }

    .make-tabs-content(@i: 9) when (@i > -1) {

        #tab_@{i}:checked ~ &__contentSection &__tab@{i} {
            display: block;
        }

        #tab_@{i}:checked ~ nav .tab_@{i} {
            background-color: @whiteColor;
            border-bottom: 1px solid @whiteColor;
        }

        .make-tabs-content(@i - 1);
    }

    .make-tabs-content();

    &__tab {
        
    }
}
