{% extends "partials/baseBlock.html"  %}


{% import "partials/buttons.html" as button %}
{% import "partials/spin.html" as spinner %}


{% block baseBlockHeader %}

<div>
    Account Balance
</div>

{% endblock %}



{% block baseBlockContent %}

<div class="balanceInfo__content">
    <div class="balanceInfo__info">
        <div class="balanceInfo__balance">

            <div class="balanceInfo__balanceValue">
                {{Balance.Value}}
            </div>
            &nbsp;
            <div class="balanceInfo__balanceCurrency">
                {{Balance.Currency}}
            </div>
        </div>
        <div class="balanceInfo__status">

            {% if Balance.StatusMessage == '' %}
            {% else %}
            {{spinner.spin()}}&nbsp;{{Balance.StatusMessage}}
            {% endif %}

        </div>
        <div class="balanceInfo__pending">
            {% if Balance.Pending %}
            <i class="fa fa-hourglass-start"></i>
            &nbsp;Pending:
            <div class="balanceInfo__pendingValue">
                &nbsp;{{Balance.Pending.Value}}
                <div class="balanceInfo__pendingCurrency">
                    &nbsp;{{Balance.Pending.Currency}}
                </div>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
    <div class="balanceInfo__button">
        {{ button.primary('Top Up', 'console.log("Top Up!");') }}
    </div>
</div>

{% endblock %}
