{% extends "partials/baseBlock.html"  %}


{% import "partials/buttons.html" as button %}
{% import "partials/linear.html" as linear %}


{% block baseBlockHeader %}

<div class="bitcoinPrice">
    Bitcoin Price:
    <div class="bitcoinPrice__price">
        &nbsp;{{BuyBitcoin.CurrentPrice}}
    </div>
    <div class="bitcoinPrice__currency">
        &nbsp;{{BuyBitcoin.Currency}}
    </div>
</div>
<div>

    {{ button.secondary('Buy Bitcoin') }}
</div>
{% endblock %}



{% block baseBlockContent %}
<div class="bitcoinPrice__content">
    {{ linear.graph(BuyBitcoin, 570,220) }}
</div>
{% endblock %}
