{% extends "partials/baseBlock.html"  %}


{% import "partials/buttons.html" as button %}
{% import "partials/linear.html" as linear %}


{% block baseBlockHeader %}

<div class="bitcoinSellPrice">
    Bitcoin Selling Price:
    <div class="bitcoinSellPrice__price">
        &nbsp;{{BuyBitcoin.CurrentPrice}}
    </div>
    <div class="bitcoinSellPrice__currency">
        &nbsp;{{BuyBitcoin.Currency}}
    </div>
</div>
<div>

    {{ button.secondary('Sell Bitcoin') }}
</div>
{% endblock %}



{% block baseBlockContent %}
<div class="bitcoinSellPrice__content">
    {{ linear.graph(SellBitcoin, 570,220) }}
</div>
{% endblock %}
