<div class="bitcoinFunding">
    <div class="bitcoinFunding__header">
        <i class="fa fa-landmark bitcoinFunding__icon"></i> Payment by Bank Transfer
    </div>


    <div class="bitcoinFunding__content">


        {% for item in Funding.Steps %}
            {%if item.Status=='active'%}
                <input type="radio" checked="checked" id="step_{{item.ID}}" name="steprb" class="bitcoinFunding__rbtStep" />
            {%elif item.Status=='completed'%}
                <input type="radio" id="step_{{item.ID}}" name="steprb" class="bitcoinFunding__rbtStep" disabled />
            {%else%}
                <input type="radio" id="step_{{item.ID}}" name="steprb" class="bitcoinFunding__rbtStep" disabled />
            {% endif %}

        {% endfor %}

        <div class="bitcoinFunding__steps">


            {% for item in Funding.Steps %}
                {%if item.Status=='completed'%}

                    <div class="bitcoinFunding__step ">
                        <div class="bitcoinFunding__stepImg">
                            {% if loop.First %}
                                <div class="bitcoinFunding__stepLine bitcoinFunding__stepLine_position_first bitcoinFunding__step_status_completed"></div>
                            {% else %}
                                <div class="bitcoinFunding__stepLine bitcoinFunding__step_status_completed"></div>
                            {% endif %}
                            <div class="bitcoinFunding__stepSquare bitcoinFunding__step_status_completed">
                                <i class="fa fa-check"></i>
                            </div>
                            {% if loop.Last %}
                                <div class="bitcoinFunding__stepLine bitcoinFunding__stepLine_position_last bitcoinFunding__step_status_completed"></div>
                            {% else %}
                                <div class="bitcoinFunding__stepLine  bitcoinFunding__step_status_completed"></div>
                            {% endif %}
                        </div>
                        <div class="bitcoinFunding__stepBody bitcoinFunding__stepBody_status_completed">
                            <div class="bitcoinFunding__stepHeader">{{item.Header}}</div>
                            <div class="bitcoinFunding__stepMsg">You choose&nbsp;<div class="bitcoinFunding__stepMsgResult">{{Funding.PaymentType.Header}}</div></div>
                        </div>
                    </div>

                {%elif item.Status=='active'%}
                    <div class="bitcoinFunding__step ">
                        <div class="bitcoinFunding__stepImg">
                            {% if loop.First %}
                                <div class="bitcoinFunding__stepLine bitcoinFunding__stepLine_position_first bitcoinFunding__step_status_active"></div>
                            {% else %}
                                <div class="bitcoinFunding__stepLine bitcoinFunding__step_status_active"></div>
                            {% endif %}
                            <div class="bitcoinFunding__stepSquare bitcoinFunding__step_status_active">{{item.ID}}</div>
                            {% if loop.Last %}
                                <div class="bitcoinFunding__stepLine bitcoinFunding__stepLine_position_last bitcoinFunding__step_status_active"></div>
                            {% else %}
                                <div class="bitcoinFunding__stepLine  bitcoinFunding__step_status_active"></div>
                            {% endif %}
                        </div>
                        <div class="bitcoinFunding__stepBody bitcoinFunding__stepBody_status_active">
                            <div class="bitcoinFunding__stepHeader">{{item.Header}}</div>
                            <div class="bitcoinFunding__stepMsg"></div>
                        </div>
                    </div>
                {%else%}
                    <div class="bitcoinFunding__step ">
                        <div class="bitcoinFunding__stepImg">
                            {% if loop.First %}
                                <div class="bitcoinFunding__stepLine bitcoinFunding__stepLine_position_first bitcoinFunding__step_status_inactive"></div>
                            {% else %}
                                <div class="bitcoinFunding__stepLine bitcoinFunding__step_status_inactive"></div>
                            {% endif %}
                            <div class="bitcoinFunding__stepSquare bitcoinFunding__step_status_inactive">{{item.ID}}</div>
                            {% if loop.Last %}
                                <div class="bitcoinFunding__stepLine bitcoinFunding__stepLine_position_last bitcoinFunding__step_status_inactive"></div>
                            {% else %}
                                <div class="bitcoinFunding__stepLine  bitcoinFunding__step_status_inactive"></div>
                            {% endif %}
                        </div>
                        <div class="bitcoinFunding__stepBody bitcoinFunding__stepBody_status_inactive">
                            <div class="bitcoinFunding__stepHeader">{{item.Header}}</div>
                            <div class="bitcoinFunding__stepMsg"></div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}

        </div>
        <div class="bitcoinFunding__info">
            <div class="step__1 step__content">
                Step1
            </div>
            <div class="step__2 step__content">
                Step2
            </div>
            <div class="step__3 step__content">
                Step3
            </div>
            <div class="step__4 step__content">
                Step4
            </div>
        </div>

    </div>
</div>