
<div class="footer">
    <div class="footer__links">
        <a class="footer__link footer_font_primary footer_font_primary-color" href="#">Privacy Policy</a>
        <a class="footer__link footer_font_primary footer_font_primary-color" href="#">Terms and Conditions</a>
        <a class="footer__link footer_font_primary footer_font_primary-color" href="#">Get Support</a>
        <a class="footer__link footer_font_primary footer_font_primary-color" href="#">Contact Us</a>
    </div>
    <div class="footer__social">
        <a class="footer__social-icon" href="#"><i class="icon icon-facebook footer__base-icon"></i></a>
        <a class="footer__social-icon" href="#"><i class="icon icon-twitter footer__base-icon"></i></a>
        <a class="footer__social-icon" href="#"><i class="icon icon-google-plus footer__base-icon"></i></a>
        <a class="footer__social-icon" href="#"><i class="icon icon-bell footer__base-icon"></i></a>
        <a class="footer__social-icon" href="#"><i class="icon icon-youtube footer__base-icon"></i></a>
    </div>
    <div class="footer__copyright footer_font_primary footer_font_secondary-color">
        &#xA9; 2018 Bitcoin Babe PTY LTD
    </div>
</div>