<!--TODO: To data?-->
<div class="main-menu main-menu_font_primary">
    <div class="main-menu__menu-item main-menu__menu-item-border-top  main-menu__menu-item-margin-top">

        <a href="/">
            <i class="icon icon-ico_home main-menu__menu-icon"></i>
            <p class="main-menu__menu-title">Home</p>
        </a>
    </div>
    <div class="main-menu__menu-item main-menu__menu-item-border-top">

        <a href="buy-bitcoin-page.html">
            <i class="icon icon-ico_buy main-menu__menu-icon"></i>
            <p class="main-menu__menu-title">Buy Bitcoin</p>
        </a>
    </div>
    <div class="main-menu__menu-item main-menu__menu-item-border-top">

        <i class="icon icon-ico_sell main-menu__menu-icon"></i>
        <p class="main-menu__menu-title">Sell Bitcoin</p>
    </div>
    <div class="main-menu__menu-item main-menu__menu-item-border-top">

        <i class="icon icon-ico_history main-menu__menu-icon"></i>
        <p class="main-menu__menu-title">History</p>
    </div>
    <div class="main-menu__menu-item main-menu__menu-item-border-top">

        <i class="icon icon-ico_settings main-menu__menu-icon"></i>
        <p class="main-menu__menu-title">Settings</p>
    </div>
    <div class="main-menu__menu-item main-menu__menu-item-border-top main-menu__menu-item-border-bottom">

        <i class="icon icon-power-off main-menu__menu-icon"></i>
        <p class="main-menu__menu-title">Log out</p>
    </div>
</div>
