{% extends "partials/baseBlock.html"  %}


{% import "partials/buttons.html" as button %}
{% import "partials/feedItem.html" as feedItem %}


{% block baseBlockHeader %}

<div>
    Social Media Feed
</div>
<div class="mediaFeed_buttons">
    {{ button.secondary('See More') }}
    {{ button.secondary('Update') }}
</div>
    {% endblock %}



    {% block baseBlockContent %}

<div class="mediaFeed__content">
    {% for item in FeedItems %}

    {{ feedItem.feed(item.Image, item.Name, item.Url, item.Date, item.Text)}}

    {% endfor %}
</div>
    {% endblock %}
