.footer {
    background-color: @lightGreyColor;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;


    &__link {
        margin-left: 15px;
        margin-right: 15px;
    }

    &__links {
        margin-bottom: 15px;
    }

    &__social {
        margin-bottom: 15px;
    }

    &__social-icon {
        margin-left: 10px;
        margin-right: 10px;
        background-color: @greyColor;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }



    &__base-icon {
        font-size: 16px;
        color: @lightGreyColor;
    }



    &_font_primary-color {
        color: @blackColor;
    }

    &_font_secondary-color {
        color: @greyColor;
    }


    &_font_primary {
        font-family: @mainFont;
    }
}
