.bitcoinFunding__content {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.bitcoinFunding__icon{
    font-size: 34px;
}

.bitcoinFunding__header{
    margin: 10px;
    font-size: 30px;
}

.bitcoinFunding__steps {
    width: 350px;
    border: 1px solid #e2e2e2;
    margin-right: 20px;
}

.bitcoinFunding__info {
    flex-grow: 1;
    border: 1px solid #e2e2e2;
}
.bitcoinFunding {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}