.linear {

    &__line {
        stroke: @primaryActiveFontColor;
        stroke-width: 2;
        font-family: @mainFont;
    }

    &__modules {
        stop-color: darken(@lightGreyColor, 7%);
        stop-opacity: 1;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        height: 40px;
        font-family: @mainFont;
    }

    &__xMonth {
        font-size: 10px;
        text-transform: uppercase;
        fill: @darkGreyColor;
        line-height: .7em;
        font-family: @mainFont;
    }

    &__tooltipValue {
        font-size: 1.1em;
        fill: @darkGreyColor;
        font-family: @mainFont;
    }

    &__tooltipDate {
        font-size: .7em;
        fill: @darkGreyColor;
        font-family: @mainFont;
    }

    &__xDay {
        display: flex;
        flex-direction: column;
        fill: @darkGreyColor;
        font-family: @mainFont;
        line-height: .7em;
    }

    &__dot {
        stroke-width: 0;
        fill: transparent;
    }

    &__dot:hover {
        stroke: @primaryBgColor;
        stroke-width: 2;
        fill: @whiteColor;
    }

    &__dot:hover + &__tooltip {
        display: block;
    }

    &__tooltip {
        display: none;
    }

    &__tooltipBody {
        stroke-width: 1;
        stroke: @lightGreyColor;
        stroke-linejoin: round;
    }

    &__background {
        fill: @lightGreyColor;
    }

    &__legend {
        fill: @whiteColor;
        stroke-width: 1;
        stroke: @lightGreyColor;
        stroke-linejoin: round;
    }

    &__svg {
        background-color: white;
    }
}
