.base-block {
    &__header {
        border-bottom: 1px solid @lightGreyColor;
        font-family: @mainFont;
        font-size: 26px;
        color: @darkGreyColor;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-grow: 0;
    }

    &__content {
        flex-grow: 1;
        overflow: auto;
        display: flex;
    }
}
