.main-content-area {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: stretch;
    justify-content: space-between;

    &__firstRow {
        display: flex;
        justify-content: space-between;
        max-height: 325px;
    }

    &__account-balance {
        flex-basis: 355px;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
    }

    &__transaction-history {
        flex-basis: 790px;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
    }

    &__second-row {
        display: flex;
        justify-content: space-between;
        max-height: 665px;
        margin-top: 25px;
    }

    &__prices {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 575px;
        flex-grow: 0;
    }

    &__bitcoin-buy-price {
        flex-basis: 320px;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
    }

    &__bitcoin-sell-price {
        flex-basis: 320px;
        flex-grow: 0;
    }

    &__feed {
        flex-basis: 575px;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
    }
    /*margin*/
    &_margin_left {
        margin-left: 10px;
    }

    &_margin_right {
        margin-right: 10px;
    }

    &_margin_top {
        margin-top: 20px;
    }
    /*border*/
    &_border {
        border: 1px solid @lightGreyColor;
        border-radius: 3px;
    }
}
